@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is New Way to manage Your Bussines <a href="#">Get Started</a>.</p>
    <img src="~/img/Asset 1.svg" alt="logo base" width="500px" height="500px" />
</div>
